.mainContainer {

  font-family: var(--OpenSans);
  color: white;
  max-width: 360px;
  margin: auto;



  .header{
    font-family: var(--Rock);
    color: white;
    position: fixed;
    top:0;
    margin: 0;

  }

}


