.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}


.child {
  width: 50%;
  margin: 0 auto;

  .childCircle {
    background-image: url("../assets/avocado-3651037_640.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 50px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  .childInput {
    display: block;
    width: auto;
    margin: 0 auto;
  }
}

.parent {
  width: 50%;
  margin: 0 auto;
  .parentCircle {
    background-image: url("../assets/eggplant-2924511_640.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  .parentInput {
    display: block;
    width: auto;
    margin: 0 auto;
  }

}
